<footer id="footer" class="cryout" itemscope itemtype="http://schema.org/WPFooter">
        <div id="footer-inside">
            <a id="toTop"><span class="screen-reader-text">Back to Top</span><i class="icon-back2top"></i></a>
            <div id="site-copyright">Ben Wilkoff has been blogging since 2004. He has learned so much since then.</div>
            <div style="display:block;float:right;clear: right;font-size: .9em;">Powered by Github and Love of Writing.</div>
        </div>
    </footer>
