<header id="masthead" class="cryout" itemscope="" itemtype="http://schema.org/WPHeader">

		<div id="site-header-main">
			<div id="site-header-main-inside">

								<nav id="mobile-menu">
					<div><ul id="mobile-nav" class=""><li id="menu-item-12290" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-has-children menu-item-12290"><a href="/"><span>Home</span></a>
<ul class="sub-menu">
	<li id="menu-item-12291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12291"><a href="/important-posts/"><span>Important Posts</span></a></li>
	<li id="menu-item-12673" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-12673"><a href="/category/videos/"><span>Video Posts</span></a>
	<ul class="sub-menu">
		<li id="menu-item-12677" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12677"><a href="/category/videos/reflective-practice-video/"><span>Reflective Practice Video</span></a></li>
		<li id="menu-item-12675" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12675"><a href="/category/videos/pd-events/"><span>PD Events</span></a></li>
		<li id="menu-item-12676" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12676"><a href="/category/videos/project-roundtable/"><span>Project Roundtable</span></a></li>
		<li id="menu-item-12674" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12674"><a href="/category/videos/askbenw/"><span>#AskBenW</span></a></li>
	</ul>
</li>
	<li id="menu-item-12666" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-12666"><a href="/category/recs/"><span>Recommendations</span></a>
	<ul class="sub-menu">
		<li id="menu-item-12670" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12670"><a href="/category/recs/using/"><span>What I’m Using</span></a></li>
		<li id="menu-item-12669" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12669"><a href="/category/recs/im-learning/"><span>What I’m Learning</span></a></li>
		<li id="menu-item-12668" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12668"><a href="/category/recs/reading-recs/"><span>Reading Recommendations</span></a></li>
		<li id="menu-item-12667" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12667"><a href="/category/recs/curated-lists/"><span>Curated Lists</span></a></li>
	</ul>
</li>
	<li id="menu-item-12660" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-12660"><a href="/category/blogging-projects/"><span>Blogging Projects</span></a>
	<ul class="sub-menu">
		<li id="menu-item-12663" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12663"><a href="/category/blogging-projects/questions/"><span>365 Questions That Google Can’t Answer</span></a></li>
		<li id="menu-item-12662" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12662"><a href="/category/blogging-projects/lifewidelearning16/"><span>#LifeWideLearning16</span></a></li>
		<li id="menu-item-12661" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12661"><a href="/category/blogging-projects/c4c15/"><span>#C4C15</span></a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-12292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-12292"><a href="/services/"><span>Services</span></a>
<ul class="sub-menu">
	<li id="menu-item-12293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12293"><a href="/services/speaking/"><span>Speaking Overview</span></a></li>
</ul>
</li>
<li id="menu-item-12294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-12294"><a href="/services/contact/"><span>Contact</span></a>
<ul class="sub-menu">
	<li id="menu-item-12295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12295"><a href="/bio/"><span>Ben Wilkoff’s Biography</span></a></li>
</ul>
</li>
<li class="menu-main-search menu-search-animated">
			<a role="link" href=""><i class="search-icon"></i><span class="screen-reader-text">Search</span></a>
<form role="search" method="get" class="searchform" action="/search/">
	<label>
		<span class="screen-reader-text">Search for:</span>
		<input type="search" class="s" placeholder="Search" value="" name="s">
	</label>
	<button type="submit" class="searchsubmit"><span class="screen-reader-text">Search</span><i class="blicon-magnifier"></i></button>
</form>

		</li></ul></div>					<button id="nav-cancel"><i class="blicon-cross3"></i></button>
				</nav> <!-- #mobile-menu -->
				
				<div id="branding">
					<div id="site-text"><h1 itemprop="headline" id="site-title"><span> <a href="/" title="My name is Ben Wilkoff, and I Teach. And Learn. A Lot." rel="home">Learning is Change</a> </span></h1><span id="site-description" itemprop="description">My name is Ben Wilkoff, and I Teach. And Learn. A Lot.</span></div>				</div><!-- #branding -->

				<nav id="sheader" class="socials"><a target="_blank" href="http://www.facebook.com/bhwilkoff" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12641"><span>Facebook</span></a><a target="_blank" href="http://www.twitter.com/bhwilkoff" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12643"><span>Twitter</span></a></nav>
								<a id="nav-toggle" href="#"><span>&nbsp;</span></a>
				<nav id="access" role="navigation" aria-label="Primary Menu" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
						<div><ul id="prime_nav" class=""><li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-has-children menu-item-12290"><a href="/"><span>Home</span></a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12291"><a href="/important-posts/"><span>Important Posts</span></a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-12673"><a href="/category/videos/"><span>Video Posts</span></a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12677"><a href="/category/videos/reflective-practice-video/"><span>Reflective Practice Video</span></a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12675"><a href="/category/videos/pd-events/"><span>PD Events</span></a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12676"><a href="/category/videos/project-roundtable/"><span>Project Roundtable</span></a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12674"><a href="/category/videos/askbenw/"><span>#AskBenW</span></a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-12666"><a href="/category/recs/"><span>Recommendations</span></a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12670"><a href="/category/recs/using/"><span>What I’m Using</span></a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12669"><a href="/category/recs/im-learning/"><span>What I’m Learning</span></a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12668"><a href="/category/recs/reading-recs/"><span>Reading Recommendations</span></a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12667"><a href="/category/recs/curated-lists/"><span>Curated Lists</span></a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-12660"><a href="/category/blogging-projects/"><span>Blogging Projects</span></a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12663"><a href="/category/blogging-projects/questions/"><span>365 Questions That Google Can’t Answer</span></a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12662"><a href="/category/blogging-projects/lifewidelearning16/"><span>#LifeWideLearning16</span></a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12661"><a href="/category/blogging-projects/c4c15/"><span>#C4C15</span></a></li>
	</ul>
</li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-12292"><a href="/services/"><span>Services</span></a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12293"><a href="/services/speaking/"><span>Speaking Overview</span></a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-12294"><a href="/services/contact/"><span>Contact</span></a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12295"><a href="/bio/"><span>Ben Wilkoff’s Biography</span></a></li>
</ul>
</li>
<li class="menu-main-search menu-search-animated">
			<a role="link" href=""><i class="search-icon"></i><span class="screen-reader-text">Search</span></a>
<form role="search" method="get" class="searchform" action="/search/">
	<label>
		<span class="screen-reader-text">Search for:</span>
		<input type="search" class="s" placeholder="Search" value="" name="s">
	</label>
	<button type="submit" class="searchsubmit"><span class="screen-reader-text">Search</span><i class="blicon-magnifier"></i></button>
</form>

		</li></ul></div>				</nav><!-- #access -->
				
			</div><!-- #site-header-main-inside -->
		</div><!-- #site-header-main -->

		<div id="header-image-main">
			<div id="header-image-main-inside">
							<div class="header-image" style="background-image: url(/wp-content/uploads/2016/07/cropped-14747.jpg)"></div>
			<img class="header-image" alt="Learning is Change" src="/wp-content/uploads/2016/07/cropped-14747.jpg">
							</div><!-- #header-image-main-inside -->
		</div><!-- #header-image-main -->

	</header>
